@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&display=swap');
body {
    background-image: url(img/engranes.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 1em;
    align-items: center;
    justify-content: center;
}
label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
h1 {
    font-size: 4em;   /* 2em = 2 x 10px = 20px */
    font-family:'Great Vibes', cursive;
    color: rgb(218, 164, 3);
    padding: 20px 1em 5px 1em;
    text-align: center;
    font-weight: 400px;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: rgb(220,220,209) !important;
    margin-inline-start: 50%;
}
textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgb(220,220,209) !important;
    margin-inline-start: 50%;
    margin-top: 15px;
}

button {
    size: 1em;
    background-color: goldenrod;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-size: x-large;
    border: 4px;
    border-color: gold;
    border-radius: 10px;
    inline-size: 10em;
    width: 6em;
    height: 2em;
    color: black;

}
.container {
    display: flex;
    justify-content: center;
}

label {
    font-size: larger;
    color: rgb(219, 166, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-inline-start: 50%;
}