@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&display=swap');

body{
    background-image: url(img/calculadora.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 1em;
}
h1{
    color: #e23d75;
    font-family:'Kanit', sans-serif;
    padding-left: 2em;
}
button{
    color: white;
    background-color: #e23d75;
    border: 3px;
    border-radius: 3px;
    border-color: #b82b5a;
    font-size: large;
    font-family: 'Kanit', sans-serif;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 12em;
}
#cont1{
    font-family: 'Averia Serif Libre', cursive;
    color: #4f1229;
    font-weight: bold;
    font-size: larger;
}