.m-1 {
    border-radius: 50%;
    border-color: transparent;
    box-shadow: none;
    margin-left: 20px;
    margin-right: 20px;
    width: fit-content;
    padding-bottom: 45px;
}
a.text-light {
    color: red;
}
.mb-md-0{
    width: fit-content;
    text-align: justify;
    align-self: center;
    margin-left: 4em;
    margin-right: 3em;
}
li {
    display: flex;
    width: fit-content; 
}
