@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}
h1 {
    max-width: 940px;
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 120px;
    text-align: center;
}
#icon {
    margin-left: 7px;
    margin-bottom: 5px;
}
#vialactea {
    margin-top: 1em;
}
h2 {
    color: #deddea;
    font-weight: bold;
    max-width: 940px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 120px;
    text-align: center;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
}
.planetas {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.zonaForm {
    border-style:ridge;
    border-radius: 10px;
    border-color: #9c64a8;
    margin-top: 3em;
    padding: 3em;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url(./imagenes/galaxia2.jpg);
    background-position: center;
    background-size:cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
}
.links {
    padding: 15px;
}

html,
body {
    font-size: 18px;
    background-image: url(./imagenes/galaxia.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navbar {
    padding: 0px;
    margin-bottom: 2em;
    margin-right: 0px;
    width: 100%;
    display: flex;
}
.navbar {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100vw;
    display: flex;
}
div.navbar {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: red;
}

.navbar-light .navbar-brand {
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.nav-link:hover{
    color: rgb(255, 46, 46);
   
}
.nav-link:visited{
    color:#f6d0ff;
}
.nav-link:active{
    color:#4153f5;
}
input.form-control{
    align-content: center;
}
.d-flex {
    margin-left: 10em;
}
button.btn.btn-outline-success {
    margin-left: 1em;
}
.video {
    margin-top: 3em;
    margin-bottom: 3em;
    -ms-flex-align: center;
}
.video:hover{
    background: red;
    box-shadow: 0 0 10px red, 0 0 10px red, 0 0 10px red;
}
.links {
    margin-top: 1em;
    font-size: large;
    display: flex;
    size-adjust: 100%;
}
footer {
    margin-top: 3em;
    display: inline;
    width: 100vw;
    text-align: justify;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-bottom: 0px;
} 
#textoprincipal {
    text-align: center;
    font-size: large;
    margin-bottom: 3em;
    margin-top: 3em;
    line-height: 2;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: 8em;
    margin-right: 8em;
}
#labelComentario {
    color: whitesmoke;
}
#slider {
    height: 60vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#newsletter {
    align-self: right;
    margin-left: 15em;
    color: white;
    font-weight: 500;
    font-size: larger;
    background-color: grey;
    border-radius: 10px;
}
a.navbar-brand {
    margin-left: 30px;
}
a.nav-link {
    width: max-content;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: fit-content;
}