@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}
h1 {
    max-width: 940px;
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 120px;
    text-align: center;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.planetas {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html,
body {
    font-size: 18px;
    background-image: url(./imagenes/galaxia.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 1em;
}
  